.navbar {
    background: linear-gradient(var(--red), var(--red2));
    position: fixed;
    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
    transition: 0.2s linear;
}

.navbar-brand:hover {
    transform: scale(1.05);
}

.navbar-brand img {
    height: 50px;
}

.nav {
    margin-right: 20px;
    z-index: 3;
}

.nav-item {
    background-color: var(--white);
    border: 4px groove var(--yellow);
    transition: 0.2s linear;
    margin: 0;
}

.nav-item:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-link {
    color: var(--red);
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--black);
}

@media only screen and (max-width:768px) {
    .navbar-brand img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .nav {
        margin: 0;
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width:992px) {
    .navbar {
        justify-content: center;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .nav {
        margin: 0 auto;
    }
}